<app-admin-nav (back)="goBack()"></app-admin-nav>

<form class="update-job-form form-font">
    <div class="title">Update Job</div>
    <div class="form-group">
        <label for="jobName" class="form-label">Job Name</label>
        <input type="text" id="jobName" name="jobName" [(ngModel)]="job.jobName" class="form-input" required>
    </div>
    <div class="form-group">
        <label for="location" class="form-label">Location</label>
        <!-- <input type="text" id="location" name="location" [(ngModel)]="job.location" class="form-input" required> -->
        <p-dropdown name="location" [options]="locations" [(ngModel)]="job.location"></p-dropdown>
    </div>
    <div class="form-group">
        <label for="salary" class="form-label">Salary</label>
        <input type="number" id="salary" name="salary" [(ngModel)]="job.salary" class="form-input" required>
        <label for="negotiable" class="form-label">Negotiable?</label>
        <p-inputSwitch name="negotiable"  [(ngModel)]="this.job.isNegotiable"/>
    </div>
    <div class="form-group">
        <label for="dealdine" class="form-label">Deadline</label>
        <p-calendar class="date-input" name="deadline" [(ngModel)]="job.deadline" dateFormat="yy-mm-dd"
        [showIcon]="true"></p-calendar>
    </div>
    <div class="form-group">
        <label for="description" class="form-label">Description</label>
        <textarea id="description" name="description" [(ngModel)]="job.description" class="form-textarea"
            rows="4"></textarea>
    </div>
    <div class="form-group">
        <label for="requirements" class="form-label">Requirements (Separate each requirement by a new line)</label>
        <textarea id="requirements" name="requirements" [(ngModel)]="formattedRequirements" class="form-textarea"
            rows="4" required></textarea>
    </div>
    <div class="form-group">
        <label for="responsibilities" class="form-label">Responsibilities (Separate each responsibilities by a new
            line)</label>
        <textarea id="responsibilities" name="responsibilities" [(ngModel)]="formattedResponsibilities"
            class="form-textarea" rows="4" required></textarea>
    </div>
    <div class="form-group">
        <label for="maximumApplication" class="form-label">Max Applications</label>
        <input type="number" id="maximumApplication" name="maximumApplication" [(ngModel)]="job.maximumApplication"
            class="form-input" required>
    </div>
    <div class="form-group">
        <label for="acceptingResponse" class="form-label">Accepting Response</label>
        <td><p-inputSwitch name="toogleResponse" [(ngModel)]="job.acceptingResponse"></p-inputSwitch>
    </div>

    <button pButton pRipple name="update" type="button" label="Update" class="p-button-rounded p-button-rounded p-button-info"
        [style]="{'width' : '100%'}" (click)="updateJob()"></button>

</form>

<!-- conf -->
<p-confirmDialog #cd [style]="{width: '50vw'}">
    <ng-template pTemplate="header">
        <h3>Are You Sure?</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button class="p-button-raised p-button-warning" type="button" pButton icon="pi pi-times" label="No Cancel" (click)="cd.reject()"></button>
        <button class="p-button-raised p-button-danger" type="button" pButton icon="pi pi-check" label="Yes Update" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<!-- toast -->
<p-toast position="top-center" key="tc"></p-toast>