
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.job-form-and-details {
    padding-top: 80px; 
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between; 
    align-items: stretch; 
}

/* Job Details */
.job-detail-container,
.form-container {
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column; /* Ensures content starts from top */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.job-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Start content from the top */
}

/* Ensuring same height for both sections */
.job-detail-container,
.form-container {
    height: auto; /* Ensure it adjusts to content */
}

.job-card {
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-header {
    text-align: center;
    margin-bottom: 20px;
}

.job-logo {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto 10px;
}

.job-header h2 {
    margin: 10px 0;
    color: #333333;
}

.job-header h4 {
    margin: 5px 0;
    color: #777777;
}

.job-content {
    flex-grow: 1;
}

.job-content p {
    color: #555555;
    margin: 10px 0;
}

.job-content ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #555555;
}

.job-content ul li {
    margin: 5px 0;
}

.job-footer {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}


/* Form Styling */
.form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    font-size: medium;
    font-family: sans-serif;
    color: #495057;
}

input[type="text"],
input[type="tel"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
    font-family: sans-serif;
    color: #495057;
}

.date-input {
    display: flex;
    width: 100%;
}

.form-section {
    border-top: 1px solid #ccc;
    padding-top: 20px;
    margin-top: 20px;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: sans-serif;
    color: #495057;
}

/* File upload styling */
.form-group.file label {
    font-size: 1rem;
    color: #495057;
}

.form-group.file input[type="file"] {
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    cursor: pointer;
}

.form-group.file input[type="file"]::file-selector-button {
    background-color: #495057;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* PrimeNG button styles */
:host ::ng-deep .p-button {
    margin: 0 .5rem 0 0;
    min-width: 10rem;
}

:host ::ng-deep .p-button-outlined {
    border-color: #495057;
    color: #495057;
}

:host ::ng-deep .p-button-outlined.p-button-rounded {
    border-radius: 50px;
}

p {
    margin: 0;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

:host ::ng-deep .p-dialog .p-button {
    min-width: 6rem;
}

/* Checkbox styling */
.form-group input[type="checkbox"] {
    margin-left: 10px;
    transform: scale(1.2);
}

.form-group input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #495057;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-radius: 10px;
}

.upload {
    display: flex;
    justify-content: center;
}

.upload .form-group {
    flex: 0 0 48%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Skills */
.skills {
    display: flex;
    align-items: center;
}

.skills input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.single-skill {
    margin-right: 5px;
}

/* Job */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.job-content ul li {
    margin: 5px 0;
}

.job-footer {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}
