<div class="container">
    <div class="navbar">
        <app-apply-nav (back)="goBack()" (showJobInfo)="showJobDetails()"></app-apply-nav>
    </div>

    <div class="job-form-and-details">
        <div class="job-detail-container">
            <div class="title">Job Information</div>
            <div class="job-card">
                <div class="job-header">
                    <img alt="Job Image" class="job-logo" src="../../../assets/aiub.png">
                    <h2>{{ job.jobName }}</h2>
                    <h4>Published: {{ job.publishDate }}</h4>
                    <h4>Deadline: {{ job.deadline }}</h4>
                </div>
                <div class="job-content">
                    <p><strong>Job Location:</strong> {{ job.location }}</p>
                    <p><strong>Salary:</strong> ${{ job.salary }} <span *ngIf="job.isNegotiable">(Negotiable)</span></p>
                    <p><strong>Description:</strong> <br> {{ job.description }}</p>
                    <p><strong>Requirements:</strong></p>
                    <ul>
                        <li *ngFor="let req of job.requirements">{{ req }}</li>
                    </ul>
                    <p><strong>Responsibilities:</strong></p>
                    <ul>
                        <li *ngFor="let res of job.responsibilities">{{ res }}</li>
                    </ul>
                    <p><strong>Remaining Application Slots:</strong> {{ job.maximumApplication }}</p>
                </div>
            </div>
        </div>

        <div class="form-container">
            <div class="title">Application Form</div>
            <div class="form-group">
                <h3>Personal Information</h3>
                <label for="name">Name</label>
                <input type="text" class="p-inputtext-sm" pInputText id="name" [(ngModel)]="application.name"
                    name="name" required />
            </div>

            <div class="form-group">
                <label for="phone">Phone</label>
                <input type="tel" class="p-inputtext-sm" pInputText id="phone" [(ngModel)]="application.phone"
                    name="phone" required />
            </div>

            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <p-calendar class="date-input" [(ngModel)]="application.dob" dateFormat="yy-mm-dd"
                    [showIcon]="true"></p-calendar>
            </div>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="p-inputtext-sm" pInputText id="email" [(ngModel)]="application.email"
                    name="email" required />
            </div>

            <div class="form-group" *ngIf="job.isNegotiable">
                <label for="expected-salary">Expected Salary</label>&nbsp;&nbsp;&nbsp;
                    <p-inputNumber [(ngModel)]="application.expectedSalary" mode="decimal" [showButtons]="true"
                    inputId="minmax-buttons" [step]="5000" [min]="0"> </p-inputNumber>
            </div>

            <div class="form-group">
                <label for="isAiubian">Are you an AIUBian?</label>
                <input type="checkbox" id="isAiubian" (change)="toggleIsAiubian()" name="isAiubian" />
                <div *ngIf="application.isAiubian">
                    <br>
                    <label for="aiubId">AIUB Student ID</label>
                    <input type="text" class="p-inputtext-sm" [(ngModel)]="application.aiubId" pInputText id="aiubId"
                        name="aiubId" />
                </div>
            </div>

            <div class="form-section">
                <h3>BSc Information</h3>
                <div class="form-group">
                    <label for="bsc-university">University</label>
                    <input id="bsc-university" type="text" pInputText [value]="application.bscUniversity"
                        [(ngModel)]="application.bscUniversity" [disabled]="application.isAiubian"
                        name="bscUniversity" />
                </div>
                <div class="form-group">
                    <label for="bsc-department">Department</label>
                    <input type="text" class="p-inputtext-sm" [(ngModel)]="application.bscDepartment" pInputText
                        id="bsc-department" name="bscDepartment" />
                </div>
                <div class="form-group">
                    <label for="bsc-cgpa">CGPA</label>&nbsp;&nbsp;&nbsp;
                    <p-inputNumber [(ngModel)]="application.bscCGPA" mode="decimal" [showButtons]="true"
                        inputId="minmax-buttons" [step]="0.25" [min]="0" [max]="4"> </p-inputNumber>

                </div>
                <div class="form-group">
                    <label for="isBscCompleted">Is BSc Completed?</label>
                    <input type="checkbox" id="isBscCompleted" (change)="toggleIsBscCompleted()"
                        name="isBscCompleted" />
                    <div *ngIf="application.isBscCompleted">
                        <br>
                        <label for="bscGraduationYear">Graduation Year</label>&nbsp;&nbsp;&nbsp;
                        <p-calendar [(ngModel)]="application.bscGraduationYear" view="year" dateFormat="yy"
                            name="bscGraduationYear" inputId="bscGraduationYear"></p-calendar>
                    </div>
                    <div *ngIf="!application.isBscCompleted">
                        <br>
                        <label for="bscAdmissionYear">Admission Year</label>&nbsp;&nbsp;&nbsp;
                        <p-calendar [(ngModel)]="application.bscAdmissionYear" view="year" dateFormat="yy"
                            name="bscAdmissionYear" inputId="bscAdmissionYear"></p-calendar>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <h3>MSc Information</h3>
                <input type="checkbox" id="isMscCompleted" (change)="toggleMsc()" name="isMsc" />
                <div *ngIf="isMSC">
                    <br>
                    <div class="form-group">
                        <label for="msc-university">University</label>
                        <input id="msc-university" type="text" pInputText [(ngModel)]="application.mscUniversity"
                            name="mscUniversity" />
                    </div>
                    <div class="form-group">
                        <label for="msc-department">Department</label>
                        <input type="text" class="p-inputtext-sm" [(ngModel)]="application.mscDepartment" pInputText
                            id="msc-department" name="mscDepartment" />
                    </div>
                    <div class="form-group">
                        <label for="msc-cgpa">CGPA</label>&nbsp;&nbsp;&nbsp;
                            <p-inputNumber [(ngModel)]="application.mscCGPA" mode="decimal" [showButtons]="true"
                            inputId="minmax-buttons" [step]="0.25" [min]="0" [max]="4"> </p-inputNumber>
                    </div>
                    <div class="form-group">
                        <label for="isMscCompleted">Is MSc Completed?</label>
                        <input type="checkbox" id="isMscCompleted" (change)="toggleIsMscCompleted()"
                            name="isMscCompleted" />
                        <div *ngIf="application.isMscCompleted">
                            <br>
                            <label for="mscGraduationYear">Graduation Year</label>&nbsp;&nbsp;&nbsp;
                            <p-calendar [(ngModel)]="application.mscGraduationYear" view="year" dateFormat="yy"
                                name="mscGraduationYear" inputId="mscGraduationYear"></p-calendar>
                        </div>
                        <div *ngIf="!application.isMscCompleted">
                            <br>
                            <label for="mscAdmissionYear">Admission Year</label>&nbsp;&nbsp;&nbsp;
                            <p-calendar [(ngModel)]="application.mscAdmissionYear" view="year" dateFormat="yy"
                                name="mscAdmissionYear" inputId="mscAdmissionYear"></p-calendar>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <label for="-">Skills</label>
                <br>
                <br>
                <span class="single-skill" *ngFor="let skill of application.skills">
                    <p-chip label={{skill}} [removable]="true"></p-chip>
                </span>
                <br>
                <br>
                <div class="skills">
                    <input type="text" class="p-inputtext-sm" pInputText id="skill" [(ngModel)]="skill" name="skill"
                        required />
                    <p-button class="add-skill-button" (click)="addSkill()" icon="pi pi-plus"></p-button>

                </div>
            </div>

            <div class="form-section upload">
                <label for="-">Uploads</label>
                <div class="form-group">
                    <!-- <label for="cv">Upload CV</label> -->
                    <p-fileUpload mode="basic" (onSelect)="uploadCv($event)" chooseLabel="CV" name="demo[]"
                        accept=".pdf"></p-fileUpload>


                </div>
                <div class="form-group">
                    <p-fileUpload mode="basic" (onSelect)="uploadCoverLetter($event)" chooseLabel="Cover Letter"
                        name="demo[]" accept=".pdf"></p-fileUpload>
                </div>
            </div>


            <button pButton pRipple type="button" label="Clear Fields"
                class="p-button-outlined p-button-rounded p-button-warning" style="margin-right: 10px;"
                (click)="clear()"></button>
            <br>
            <button pButton pRipple type="button" label="Submit"
                class="p-button-outlined p-button-rounded p-button-info" (click)="handleApply()"></button>

        </div>
    </div>

    <p-toast position="top-center" key="tc"></p-toast>
</div>