<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Management System</title>
</head>

<body>
    <div class="container">
        <img class="logo" src="../../../assets/aiub.png">
        <h2 class="title">Job Management System</h2>
        <a routerLink="/jobs">
            <button pButton pRipple type="button" label="View Jobs" class="p-button-rounded p-button-success"></button>
        </a>

        <button pButton pRipple type="button" label="Sign In" class="p-button-rounded"></button>
    </div>
</body>

</html>