.card {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
}

.table-header {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 12px;
}

.table-row {
    background-color: #fff;
}

.table-row:hover {
    background-color: #f0f0f0;
}

.skills-column {
    display: flex;
    flex-wrap: wrap;
}

.skill-chip {
    margin: 2px;
    color: #fff;
    border-radius: 16px;
    padding: 4px 8px;
}

.application-details {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f5;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
  }
  
  .application-details h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
  }
  
  .detail-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  }
  
  .detail-group label {
    font-weight: bold;
    font-size: 1.1em;
    color: #555;
    flex: 1;
  }
  
  .detail-group span {
    flex: 2;
    text-align: right;
    font-size: 1em;
    color: #333;
  }
  
  

/* info */
.job-info {
  width: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: #f0f4f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.job-info .title, .card .title {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #007bff;
  text-align: center;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

.job-info .value {
  margin-bottom: 15px;
  font-size: 1rem;
  color: #333;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
}
