<div class="card">
    <p-table [value]="applications" selectionMode="single" [(selection)]="selectedApplication" dataKey="id"
        responsiveLayout="scroll" (onRowSelect)="onSelect()" (onRowUnselect)="onUnselect()" class="custom-table">
        <ng-template pTemplate="header">
            <tr>
                <th class="table-header">Name</th>
                <th class="table-header">Phone</th>
                <th class="table-header">DOB</th>
                <th class="table-header">Email</th>
                <th class="table-header">AIUBian</th>
                <th class="table-header">BSc University</th>
                <th class="table-header">MSc University</th>
                <th  class="table-header">BSc Status</th>
                <th  class="table-header">MSc Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-application>
            <tr [pSelectableRow]="application" class="table-row">
                <td>{{application.name}}</td>
                <td>{{application.phone}}</td>
                <td>{{application.dob}}</td>
                <td>{{application.email}}</td>
                <td>{{application.isAiubian}}</td>
                <td>{{application.bscUniversity}}</td>
                <td>{{ application.mscUniversity.trim() ? application.mscUniversity : '-' }}</td>

                <td [style.color]="application.isBscCompleted ? 'green' : 'red'">
                    {{ application.isBscCompleted ? 'Completed' : 'Incomplete' }}
                </td>
                <td [style.color]="application.isMscCompleted ? 'green' : 'red'">
                    {{ application.isMscCompleted ? 'Completed' : 'Incomplete' }}
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>