<app-admin-nav (back)="goBack()"></app-admin-nav>

<div class="job-info">
    <h3 class="title">Job Information</h3>
    <p class="value"><b>Job Id:</b> {{job?.jobId}}</p>
    <p class="value"><b>Name:</b> {{job?.jobName}}</p>
    <p class="value"><b>Location:</b> {{job?.location}}</p>
    <p class="value"><b>Publish Date:</b> {{job?.publishDate}}</p>
</div>

<div class="card">
    <h3 class="title">Applications (Total {{applications.length}}) </h3>
    <p-table [value]="applications" selectionMode="single" [(selection)]="selectedApplication" dataKey="id"
        responsiveLayout="scroll" (onRowSelect)="onSelect()" (onRowUnselect)="onUnselect()" class="custom-table">
        <ng-template pTemplate="header">
            <tr>
                <th class="table-header">ID</th>
                <th class="table-header">Name</th>
                <th class="table-header">Phone</th>
                <th class="table-header">DOB</th>
                <th class="table-header">Email</th>
                <th class="table-header">AIUBian</th>
                <th class="table-header">BSc University</th>
                <th class="table-header">BSc Status</th>
                <th class="table-header">MSc Status</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-application>
            <tr [pSelectableRow]="application" class="table-row">
                <td>#{{application.id}}</td>
                <td>{{application.name}}</td>
                <td>{{application.phone}}</td>
                <td>{{application.dob}}</td>
                <td>{{application.email}}</td>
                <td>{{application.isAiubian}}</td>
                <td>{{application.bscUniversity}}</td>
                <td [style.color]="application.isBscCompleted ? 'green' : 'red'">
                    {{ application.isBscCompleted ? 'Completed' : 'Incomplete' }}
                </td>
                <td [style.color]="application.isMscCompleted ? 'green' : 'red'">
                    {{ application.isMscCompleted ? 'Completed' : 'Incomplete' }}
                </td>

            </tr>
        </ng-template>
    </p-table>
</div>

<!-- details -->

<p-dialog header="Application Details" [draggable]="false" [(visible)]="showAppDetails" [style]="{width: '70vw'}">
    <div class="application-details">
        <h1>Application ID: {{selectedApplication.id}}</h1>
        <div class="detail-group">
            <button icon="pi pi-book" pButton pRipple type="button" label="View CV" class="p-button-outlined p-button-rounded p-button-info"></button>
            <button icon="pi pi-file" pButton pRipple type="button" label="View Cover Letter" class="p-button-outlined p-button-rounded p-button-help"></button>
        </div>
        <div class="detail-group">
            <label>Name:</label>
            <span>{{selectedApplication.name}}</span>
        </div>
        <div class="detail-group">
            <label>Email:</label>
            <span>{{selectedApplication.email}}</span>
        </div>
        <div class="detail-group">
            <label>Phone:</label>
            <span>{{selectedApplication.phone}}</span>
        </div>
        <div class="detail-group">
            <label>Date of Birth:</label>
            <span>{{selectedApplication.dob}}</span>
        </div>
        <div *ngIf="selectedApplication.isAiubian" class="detail-group">
            <label>AIUB ID:</label>
            <span>{{selectedApplication.aiubId}}</span>
        </div>
        <div class="detail-group">
            <label>BSc University:</label>
            <span>{{selectedApplication.bscUniversity}}</span>
        </div>
        <div class="detail-group">
            <label>BSc Department:</label>
            <span>{{selectedApplication.bscDepartment}}</span>
        </div>
        <div class="detail-group">
            <label>BSc CGPA:</label>
            <span>{{selectedApplication.bscCGPA}}</span>
        </div>
        <div class="detail-group">
            <label>BSc Admission Year:</label>
            <span>{{selectedApplication.bscAdmissionYear}}</span>
        </div>
        <div class="detail-group">
            <label>BSc Graduation Year:</label>
            <span>{{selectedApplication.bscGraduationYear}}</span>
        </div>
        <div class="detail-group">
            <label>MSc University:</label>
            <span>{{selectedApplication.mscUniversity}}</span>
        </div>
        <div class="detail-group">
            <label>MSc Department:</label>
            <span>{{selectedApplication.mscDepartment}}</span>
        </div>
        <div class="detail-group">
            <label>MSc CGPA:</label>
            <span>{{selectedApplication.mscCGPA}}</span>
        </div>
        <div class="detail-group">
            <label>MSc Admission Year:</label>
            <span>{{selectedApplication.mscAdmissionYear}}</span>
        </div>
        <div class="detail-group">
            <label>MSc Graduation Year:</label>
            <span>{{selectedApplication.mscGraduationYear}}</span>
        </div>
        <div class="detail-group">
            <label>Skills:</label>
            <span>{{selectedApplication.skills.join(', ')}}</span>
        </div>
        <div class="detail-group">
            <button icon="pi pi-book" pButton pRipple type="button" label="View CV" class="p-button-outlined p-button-rounded p-button-info"></button>
            <button icon="pi pi-file" pButton pRipple type="button" label="View Cover Letter" class="p-button-outlined p-button-rounded p-button-help"></button>
        </div>
    </div>

    <ng-template pTemplate="footer">
        <br>
        <button icon="pi pi-times" (click)="showAppDetails=false" pButton pRipple type="button" label="Close" class="p-button-outlined p-button-rounded p-button-info"></button>
    </ng-template>
</p-dialog>