<p-menubar [model]="items" ></p-menubar>
<br>
<!-- conf -->
<p-confirmDialog #cd [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <h3>Logout?</h3>
    </ng-template>
    <ng-template pTemplate="footer">
        <button class="p-button-raised p-button-warning" type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
        <button class="p-button-raised p-button-danger" type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
    </ng-template>
</p-confirmDialog>
<!-- toast -->