.update-job-form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input,
.form-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-textarea {
    resize: vertical;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #0056b3;
}


.form-font {
    font-family:sans-serif; 
    font-size: 16px; 
}


.update-job-form {
    font-family: sans-serif; 
    font-size: 16px;
}


/*  */
/* Styling for the confirmation dialog */
:host ::ng-deep .p-dialog {
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

:host ::ng-deep .p-dialog .p-dialog-header {
    background-color: #125899;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

:host ::ng-deep .p-dialog .p-dialog-footer {
    border-top: none;
}

:host ::ng-deep .p-dialog .p-dialog-content {
    padding: 20px;
}

:host ::ng-deep .p-dialog .p-dialog-footer .p-button {
    margin: 0 8px;
}

:host ::ng-deep .p-dialog .p-dialog-footer .p-button .pi {
    margin-right: 4px;
}

.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px 0;
    border-radius: 10px;
}
