
.login-container {
  background: var(--surface-card);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-2);
  max-width: 400px;
  margin: 0 auto; /* This centers the container horizontally */
  border: 2px solid rgb(173, 171, 171);
  margin-top: 5%; /* Adjust the top margin as needed */
  position: relative; /* Add position relative */
}
  
  .login-header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .login-logo {
    height: 100px;
    margin-bottom: 1rem;
    cursor:pointer
  }
  
  .login-header h2 {
    color: var(--text-900);
    font-size: 1.875rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  
  .create-account-link {
    color: var(--blue-500);
    font-weight: 500;
    text-decoration: none;
    margin-left: 0.5rem;
  }
  
  .login-main .form-group {
    margin-bottom: 1rem;
  }
  
  .form-label {
    display: block;
    color: var(--text-900);
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
  
  .form-input {
    width: 100%;
    padding: 0.5rem;
    border: 2px solid rgb(221, 221, 221); 
    border-radius: 0.25rem;
  }
  
  .form-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
  }
  
  .remember-me-label {
    color: var(--text-900);
  }
  
  .forgot-password-link {
    color: var(--blue-500);
    text-decoration: none;
    font-weight: 500;
  }
  
  .sign-in-button {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
  }
  