.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
}

.card {
    margin-bottom: 20px;
}

.p-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}
.job-logo {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto; 
}


