<app-apply-nav (back)="goBack()"></app-apply-nav>

<div class="job-detail-container">
    <div class="job-card">
        <div class="job-header">
            <img alt="Job Image" class="job-logo" src="../../../assets/aiub.png">
            <h2>{{ job.jobName }}</h2>
            <h4>Published: {{ job.publishDate }}</h4>
            <h4>Deadline: {{ job.deadline }}</h4>
            <h4>Applied: {{ job.alreadyApplied }}/{{job.maximumApplication}}</h4>

        </div>
        <div class="job-content">
            <p><strong>Job Location:</strong> {{ job.location }}</p>
            <p><strong>Salary:</strong> ${{ job.salary }} <span *ngIf="job.isNegotiable">(Negotiable)</span></p>
            <p><strong>Description:</strong> <br> {{ job.description }}</p>
            <p><strong>Requirements:</strong></p>
            <ul> 
                <li *ngFor="let req of job.requirements">{{ req }}</li>
            </ul>
            <p><strong>Responsibilities:</strong></p>
            <ul>
                <li *ngFor="let res of job.responsibilities">{{ res }}</li>
            </ul>
            <p><strong>Remaining Application Slots:</strong> {{ job.maximumApplication }}</p>
        </div>
        <div class="job-footer" *ngIf="isButtonVisible">
            <button pButton pRipple type="button" label="Back" class="p-button-warning" (click)="goBack()"></button>
            
            <span *ngIf="this.job.alreadyApplied === this.job.maximumApplication">
                <button pButton pRipple type="button" label="Full" [disabled]="true"
                    class="p-button-danger" [style]="{'margin-left': '.5em'}" (click)="apply(job.jobId)"></button>
            </span>

            <span *ngIf="this.job.alreadyApplied !== this.job.maximumApplication">
                <button pButton pRipple type="button" label="Apply"
                    class="p-button-success" [style]="{'margin-left': '.5em'}" (click)="apply(job.jobId)"></button>
            </span>
            
            
        </div>
    </div>
</div>
