body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.job-detail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.job-card {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.job-header {
    text-align: center;
    margin-bottom: 20px;
}

.job-logo {
    width: 64px;
    height: 64px;
    display: block;
    margin: 0 auto 10px;
}

.job-header h2 {
    margin: 10px 0;
    color: #333333;
}

.job-header h4 {
    margin: 5px 0;
    color: #777777;
}

.job-content {
    flex-grow: 1;
}

.job-content p {
    color: #555555;
    margin: 10px 0;
}

.job-content ul {
    list-style-type: disc;
    margin-left: 20px;
    color: #555555;
}

.job-content ul li {
    margin: 5px 0;
}

.job-footer {
    text-align: center;
    margin-top: 20px;
}

.button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.button:hover {
    background-color: #0056b3;
}
